@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap');

*{
    font-family: 'Merriweather', serif;
}
.banner{
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(/images/banner.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
}
.overlay > h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}
.overlay > h3{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}