@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap');

*{
    font-family: 'Merriweather', serif;
}
.banner{
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../images/banner.png");
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
}
.overlay > h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 2px 344px 177px 344px;
}
.overlay > h3{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 177px 531px 2px 530px;
}
/* advertizement section */
.advertize1{
    display: block !important;
}
.advertize1 > h1{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 40px;
    margin:0;
}
.advertize1 > h6{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:50px;
    margin-bottom: 0px;
}
.advertize1 > h3{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:20px;
}
.advertize1 > img{
    width: 802.9px;
    height: 500px;
    display:block;
    margin: 0 auto;
}
.midnight-party{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("../images/Vectorrr.png");
    background-repeat:no-repeat;
    width: 1320px;
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
}
.midnight-party{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.banner-writing{
    padding: 50px 0px 5px 126px;
    width: 642px;
    margin: 0px;
}
.banner-writing > h2{
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin: 0px;
}
.banner-writing > p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.banner-writing > h6 a{
    color: #FFF;
    text-decoration: none;
    padding-left: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.image24{
    padding-right: 138px;
}

/* time and place */
.time-and-place{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin:120px auto;
    border-radius: 20px;
    
}
.time-place{
    padding: 100px 386px 0px 385px;
    align-items: center;
    font-family: Inter;
}
.time-place > p{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
    margin:0px;
}
.time-place > p span{
    color: red;
}
.join-now{
    display: block;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: white;
    margin: 60px auto;   
}
/* Best offer style */
.best-offer{
    display: flex;
    height: 463px;
    width:1320px;
    margin:50px auto;
    justify-content: space-around;
    align-items: center;
}
.middle img{
    border-radius: 50%;
    border: 15px solid #F00;
    padding:35px;
}

.left{
    width:40%;
    padding-right:60px;
}
.left > h5{
    color: #F00;
    text-align: left;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.left > h3{
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.left >p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
.right{
    width:30%;
    padding-left: 50px;
}
.right > h2{
    color: #F00;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.right > p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}
/* What is functional section */
.functional{
    width:1320px;
    margin:120px auto;
    text-align: center;
}
.functional h3{
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.functional h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 20px 0px;
}
.functional h1 span{
    color: #F00;
}
.functional > p{
    margin: 0px 280px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 160% */
}
.images{
    display: flex;
    justify-content: space-between;
}
.shopping50{
    position:relative;
    align-content:bottom;
}
.image-container{
    position: relative;
    height:500px !important;
}

.shopping50 #shopping{
    position: absolute;
    bottom: 0;
    right:0px;
    z-index: 1;
}
.shopping50 #fifty{
    position: absolute;
    top:150px;
    right:280px;
    z-index: 4;
    background: (49.96% 50% at 50% 50.23%, #000 0%, #FFF 100%);
}

#gift{
    position:relative;
    bottom:-200px;
    z-index: 10;
}
#base{
    position:absolute;
    right:0
}
.gifts{
    width: 1320px;
    margin:600px auto;
}
.gift-writing h3{
    display:block;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.gift-writing h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin:0px;
}
.gift-writing p{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    width: 896px;
}
.image-section{
    display: inline-block;
    width: 1320px;
}
.image-section img{
    width: 424px;
    height: 450px;
    border-radius: 16px;
    margin: 0 20px 24px 0;
}
.image-section img:last-child, .image-section img:nth-child(3){
    margin-right:0px !important;
}
