@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700;800&display=swap');

*{
    font-family: 'Merriweather', serif;
}
.banner{
    border-radius: 16px;
    background-image: linear-gradient(to bottom, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("/images/banner.png");
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: 50px auto;
}
.overlay > h1{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    padding: 2px 344px 177px 344px;
}
.overlay > h3{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 177px 531px 2px 530px;
}
/* advertizement section */
.advertize > h1{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 40px;
    margin:0;
}
.advertize > h6{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top:50px;
    margin-bottom: 0px;
}
.advertize > h3{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top:20px;
}
.advertize > img{
    width: 802.9px;
    height: 500px;
    display:block;
    margin: 0 auto;
}